@import "partials/settings";
@import "partials/foundation";

body {
  background-image: url('../../assets/background-image.png');
  @media #{$large-up} {
    background-color: blue;
  }
}

#container {
  padding: 40px;

  #header {
    height: 100%;
    width: 100%;

    h1 {
      font-size: 3em;
      font-weight: bolder;
      text-align: center;
      color: #7A757B;
    }
    #imageHolder {
      background-image: url('../../assets/mainphoto.jpg');
      background-repeat: no-repeat;
      background-size: 320px 150px;
      background-position: center;
      height: 150px;
      width: 100%;
    }
  }

  #pictures {
    width: 100%;
    margin: 0 auto;
    color: #9A9A9B;
    font-size: .9em;
    #innerPicture {
      margin: auto;
      width: 300px;
      .detailImage {
        margin: auto;
        height: 190px;
        width: 300px;
        margin-bottom: 10px;
      }
      .detailAuthor {
        font-size: 1.2em;
        font-weight: bolder;
        margin-bottom: -5px;
      }
      .detailDescription {
        margin-bottom: 20px;
      }
      .form {
        text-align: center;
        form {
          display: inline-block;
          padding-right: 15px;
          input {
            height: 30px;
            width: 50px;
            border-radius: 5px;
          }
        }
      }
    }
    .images {
      height: 180px;
      width: 300px;
    }
    .description {
      display: none;
    }
    .link {
      margin-top:-45px;
      margin-bottom: 30px;
    }

  }
}

// #header {
//   text-align: center;
//   h1 {
//     font-weight: bolder;
//     font-size: 4em;
//   }

//   #imageHolder {
    // background-image: url('../../assets/mainphoto.jpg');
//     background-repeat: no-repeat;
//     // background-size: 600px 300px;
//     margin: auto;
//     width: 90%;
//     height: 310px;
//   }
// }

// #pictures {
//   text-decoration: none;
//   .author {
//     display : none;
//   }
//   li {
//     text-decoration: none;
//   }
// }