@import "partials/settings";
@import "partials/foundation";

body {
  background-image: url('../../assets/background-image.png');
}

#container {
  padding-top: 40px;
  padding-bottom: 40px;

  #header {
    height: 100%;
    width: 100%;
    text-align: center;
    margin: auto;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #7A757B;
    @media #{$medium-up} {
      max-width: 750px;
      margin-bottom: 20px;
      border-bottom: 1px solid #7A757B;
    }

    .titlebar {
      // margin: auto;
      @media #{$medium-up} {
        margin-bottom: 30px;
        width: 730px;
        border-top: 1px dotted #7A757B;
      }

      .architect {
        font-size: 3em;
        font-weight: bolder;
        // text-align: center;
        color: #7A757B;
        @media #{$medium-up} {
          display: inline;
          padding-bottom: 50px;
          font-size: 4em;
        }
      }

      #company_motto {
        @media #{$medium-up} {
          display: inline;
          font-size: .7em;
          padding-top: 5px;
          color: #7A757B;
          float: right;
          width: 277px;
          padding-left: 20px;
          border-left: 1px dotted #7A757B;
          text-align: left;
        }
      }
    }

    #imageHolder {
      background-image: url('../../assets/mainphoto.jpg');
      background-repeat: no-repeat;
      background-size: 320px 150px;
      background-position: center;
      height: 150px;
      width: 100%;
      @media #{$medium-up} {
        background-size: 730px 300px;
        height: 300px;
        min-width: 730px;
        margin-bottom: 20px;
      }
    }
  }

  #pictures {
    margin: 0 auto;
    color: #9A9A9B;
    font-size: .9em;

    @media #{$medium-up} {
      width: 750px;
    }
    .footer-line {
      @media #{$medium-up} {
        border-bottom: 1px solid #7A757B;
      }
    }
    .images {
      width: 300px;
      margin: 0 auto;
      @media #{$medium-up} {
        width: 250px;
        margin: auto;
      }

      img {

        padding-top: 20px;
        display: inline-block;
        height: 150px;
        width: 300px;
        @media #{$medium-up} {
          height: 160px;
          width: 230px;
        }
      }

      .author {
        display: inline-block;
        display: block;
      }
      .link {
        display: inline-block;
        display: block;
        margin-bottom: 30px;
      }

    }


    #innerPicture {
      margin: auto;
      width: 300px;

      .detailImage {
        margin: auto;
        height: 190px;
        width: 300px;
        margin-bottom: 10px;
      }

      .detailAuthor {
        font-size: 1.2em;
        font-weight: bolder;
        margin-bottom: -5px;
      }

      .detailDescription {
        margin-bottom: 20px;
      }

      .form {
        text-align: center;


        form {
          display: inline-block;
          padding-right: 15px;

          input {
            height: 30px;
            width: 50px;
            border-radius: 5px;
          }
        }
      }
    }

    @media #{$large-up} {
      h1 {
        font-size: 30em;
      }
    }


  }
}

// #header {
//   text-align: center;
//   h1 {
//     font-weight: bolder;
//     font-size: 4em;
//   }

//   #imageHolder {
    // background-image: url('../../assets/mainphoto.jpg');
//     background-repeat: no-repeat;
//     // background-size: 600px 300px;
//     margin: auto;
//     width: 90%;
//     height: 310px;
//   }
// }

// #pictures {
//   text-decoration: none;
//   .author {
//     display : none;
//   }
//   li {
//     text-decoration: none;
//   }
// }