<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Document
body
  h1 EXPRESS GALLERY
  ul
    each picture in pictures
      li #{picture.author}
      br
      li
        img(src=picture.link)
      br
      li= picture.description
      br
      li
        a(href="/gallery/#{picture.id}") link to image