extends _layout
block content
  div#header
    div.titlebar
      div.architect _ARCHITEKT
      div.show-for-large-up#company_motto Welcome to our online portfolio, we are a small group of passionate designers and architects, looking to change and create amazing digital images to inspire others to follow in our innovative steps.  Free Architect WordPress Theme
    div.mainPicture(style="background-image:url(../../assets/mainphoto.jpg)")
  div#pictures.row
    each picture in pictures
      div.columns.small-12.medium-6.large-4.footer-line
        div.images
          img(src=picture.link)
          div.author #{picture.author}
          div.link
            a(href="/gallery/#{picture.id}") link to image
