<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Document
body
 div
  form(action='/gallery',method='POST')
    label(for='author') author
    input(name='author')
    br
    label(for='link') link
    input(name='link')
    br
    label(for='description') description
    input(name='description')
    br
    button post